<div class="container">
  <h1>Create new Tenant  for <%= @apartment.building %> APARTMENT <%= @apartment.floor %> <%= @apartment.door.capitalize %></h1>



  <%= render 'form', tenant: @tenant %>


  <%= link_to 'Back', tenants_path %>
</div>

