<div class="container background">
  <div class="row">
    <p id="notice"><%= notice %></p>
  </div>
<!-- APARTMENT INFO -->
  <div class="row">
    <div class="col">
      <h1 class="text-center "><%= @apartment.building.capitalize %> -  APARTMENT <%= @apartment.floor %> <%= @apartment.door.capitalize %> </h1>
    </div>
    <div class="col-1">
      <%= link_to 'Back', apartments_path  %>
    </div>
  </div>
<!-- -------------------------------- -->

<!-- TENANT INFO -->
  <div class="row mt-3">
    <div class="col">
      <h2 class="text-center">TENANT</h2>
    </div>
  </div>

  <div class=" table-responsive">
    <table class="table text-center table-hover ">
    <thead class="table-primary">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
      </tr>
    </thead>

    <tbody>
      <% @apartment.tenants.each do |tenant| %>
      <tr>
        <td><%= tenant.first_name %> <%= tenant.last_name %></td>
        <td><%= tenant.phone %></td>
        <td><%= tenant.email %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
    <div class="col">
      <% if current_user.admin %>
      <% if policy(Tenant).create? %>
      <% if @apartment.tenants.exists? %>

        <%= link_to 'update apartment tenant', edit_apartment_path(@apartment) %>
        <% else %>
        <%= link_to 'Add new tenant', new_apartment_tenant_path(@apartment) %>
        <% end %>
        <% end %>
      <% end %>


    </div>
  </div>
<!-- ------------------------------------------ -->
  <div class="row mb-3 mt-3">
    <div class="col">
      <h2 class="text-center">ELECTRICITY</h2>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <h3>Consumptions</h3>
    </div>
  </div>
  <div class="class mb-2">
    <% if current_user.admin %>
    <%= link_to 'Add new consumption',new_apartment_consumption_path(@apartment)  %>
      <!-- <i class="fas fa-plus-square text-primary" data-toggle="tooltip" data-placement="top" title="Add new consumption"></i> -->
    <% end %>
  </div>
  <div class="container row">
    <div class="table-responsive">
      <table class="table text-center table-sm table-hover">
        <thead class="table-primary">
         <tr>
           <th scope="col">Initial Date</th>
           <th scope="col">Reading</th>
           <th scope="col">Final Date</th>
           <th scope="col">Reading</th>
           <th scope="col">Consumption</th>
           <th scope="col">Status</th>
         </tr>
        </thead>
        <tbody class= "consumptions" >
          <% @apartment.consumptions.each do |consumption| %>
           <tr >
            <td><%= consumption.start %></td>
            <td><%= consumption.inireading %></td>
            <td><%= consumption.end %></td>
            <td><%= consumption.lastreading %></td>
            <td><%= consumption.lastreading - consumption.inireading %> </td>
            <%#= simple_form_for [@apartment, @consumption] do |f| %>
            <td>
              <%#= f.input :paid %></td>
              <%# end %>
          <% end %>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>




